{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh

{{ if eq .chezmoi.osRelease.idLike "debian" -}}
{{ range .packages.linux.debian -}}
# Debian specific
sudo apt-get install -y {{ . | quote }}
{{ end -}}
{{ end -}}

{{ else if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env sh

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ end -}}