{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh

{{ if eq .chezmoi.osRelease.idLike "debian" -}}
{{ range .packages.linux.debian -}}
# Debian specific
sudo apt-get install -y {{ . | quote }}
{{ end -}}
{{ else if eq .chezmoi.osRelease.idLike "fedora" -}}
# Fedora specific
{{ end -}}
{{ end -}}