{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env sh

BUNDLE_FILE=`mktemp`

cat > $BUNDLE_FILE <<EOF
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

brew bundle --no-lock --file=$BUNDLE_FILE || true

{{ end -}}